<%= link_to 'Вернуться на главную', root_path %>
<div class="container">
  <h2>Перечень SKU</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>SKU</th>
      <th>Код поставщика</th>
      <th>Название товара</th>
      <th>Доп. поле 1</th>
      <th>Доп. поле 2</th>
      <th>Доп. поле 3</th>
      <th>Доп. поле 4</th>
      <th>Доп. поле 5</th>
      <th>Цена</th>
    </tr>
    </thead>
    <tbody>
      <% @skus.each do |sku| %>
        <tr>
          <td><%= sku.sku %></td>
          <td><%= sku.supplier_code %></td>
          <td><%= sku.name %></td>
          <td><%= sku.additional_field_1 %></td>
          <td><%= sku.additional_field_2 %></td>
          <td><%= sku.additional_field_3 %></td>
          <td><%= sku.additional_field_4 %></td>
          <td><%= sku.additional_field_5 %></td>
          <td><%= sku.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @skus %>
</div>
